.notfound{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}
.notfound h1{
    color: red;  
    margin: 20px;
    padding: 20px;
}
.notfound a {
    text-decoration: none;
    margin: 15px;
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}